body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}
#next{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}
#next:hover{
    color: rgb(255, 1, 1);
}